html {
    scroll-behavior: smooth;
}

html,body{
    /* background-color: rgb(152, 214, 255); */
    background-color: rgba(0, 0, 0, 0.452);
    background-image: url("../assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:blanchedalmond;
}




@media only screen and (max-width: 768px) {
    html,body{
        /* background-color: rgb(152, 214, 255); */
        background-image: url("../assets/bg2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }  
}

.badge{
    background: rgb(252,229,143);
    background: linear-gradient(43deg, rgba(252,229,143,1) 20%, rgba(252,198,0,1) 86%);
}

h1{
    font-size: 3vw;
    color: #00466b;
}

.col.col-md-2{
    margin: 30px;
    padding: 20px;

    background-color: rgba(255, 235, 205, 0.637);
    border-radius: 50px;
    width: auto;
}

.col.col-md-8{
    margin: 30px;
    padding: 50px;

    background-color: rgba(255, 235, 205, 0.637);
    color: rgb(63, 46, 21);
    height: 600px;
    border-radius: 50px;
    width: auto;
}

#rocketCard #rocketInfo .col-5.col-md-2{
    margin: 15px 5px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

}

#allRockets img{
    margin: 10px auto;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

@media only screen and (max-width: 768px) { 
    h1{
        font-size: 8vw;
        color: #00466b;
    }
 }

