<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/style.css" />

  <title>ISRO Space Flight</title>
</head>

<body>
  <div class="container-fluid" id="nav">
    <div class="row justify-content-center">
      <div class="col-5 col-md-3 order-2 order-md-1 align-self-center">
        <div class="row mb-2 m-md-4 justify-content-center">
          <a role="button" class="btn btn-primary btn-lg " id="left" href="/missions">
            Missions
          </a>
        </div>
        <div class="row  m-md-4 justify-content-center">
          <a role="button" class="btn btn-primary btn-lg" id="left" href="/news">
            ISRO News
          </a>
        </div>
      </div>

      <div class="col-10  col-md-4 order-1 order-md-2 text-center">
        <img src="../static/assets/LOGO.png" id="MainLogo" />
      </div>
      <div class="col-5 m-2 col-md-3 order-3 order-md-3 align-self-center">
        <div class="row mb-2 m-md-4 justify-content-center">
          <a role="button" class="btn btn-primary btn-lg" id="right" href="rockets">
            Launch Vehicles
          </a>
        </div>
        <div class="row  m-md-4 justify-content-center">
          <a href="/timeline" role="button" class="btn btn-primary btn-lg" id="right">
            ISRO Timeline
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="container" id="Nav2">
      <nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: center;">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" id="first">Flagship Missions</a>
      <a class="nav-item nav-link" href="#">Indian Space Community</a>
      <a class="nav-item nav-link" href="#">Blogs</a>
      <a class="nav-item nav-link" href="#">Official Sites</a>
    </div>
  </div>
</nav>      
      </div> -->
    <div class="container">
      <div class="row justify-content-center ex">
        <a class="btn btn-primary btn-lg" id="explore" href="rockets/" role="button"></a>
      </div>
    </div>
  </div>
  <div class="conainer-fluid" id="stats">
    <div class="row justify-content-center">
      <h1><span class="badge">ISRO Stats</span></h1>
    </div>
    <div class="row justify-content-center" id="statsBox">
      <div class="col-5 col-md-2" id="SingleStatsBox">
        <h1>111</h1>
        <h5>Spacecraft Missions</h5>
      </div>
      <div class="col-5 col-md-2" id="SingleStatsBox">
        <h1>80</h1>
        <h5>Launch Missions</h5>
      </div>
      <div class="col-5 col-md-2" id="SingleStatsBox">
        <h1>12</h1>
        <h5>Student Satellites</h5>
      </div>
      <div class="col-5 col-md-2" id="SingleStatsBox">
        <h1>2</h1>
        <h5>Re-Entry Missions</h5>
      </div>
      <div class="col-5 col-md-2" id="SingleStatsBox">
        <h1>2</h1>
        <h5>Human Space Flight related missions</h5>
      </div>
    </div>
  </div>

  <div class="conainer-fluid" id="launchVehicles">
    <div class="row justify-content-center">
      <h1><span class="badge">ISRO Launch Vehicle Fleet</span></h1>
    </div>
    <div class="row justify-content-center" id="fleet">
      <div class="col-10 col-md-8">
        <img src="../static/assets/rockets.png" alt="" />
      </div>
      <div class="
            col-8 col-md-4
            text-center
            justify-content-center
            align-self-center
          ">
        <h3><a href="rockets">Learn More</a></h3>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>