{% extends 'base.html' %} {% block script %}
<link rel="stylesheet" href="../static/css/rockets.css" />{% endblock script %}
{%block title %}ISRO Rockets{% endblock title %} {%block body %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <h1><span class="badge">ISRO Rockets</span></h1>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center" id="allRockets">
    <h4>Click on any Launch Vehicle to Know More</h4>
    <!-- <img src="../static/assets/rocketsAll.png" alt="All ISRO Rockets" height="600px" usemap="#rockets" />
    <map name="rockets">
      <area shape="rect" coords="60,150,80,400" href="glsvmk2" alt="">
      <area shape="rect" coords="150,90,190,400" href="pslv" alt="">
      <area shape="rect" coords="240,50,320,400" href="gslvmk2" alt="">
      <area shape="rect" coords="380,80,460,400" href="pslv" alt="">
      <area shape="rect" coords="545,150,600,400" href="gslvmk2" alt="">
      <area shape="rect" coords="660,10,750,400" href="pslv" alt="">
    </map> -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 1920 1080">
      <image width="1920" height="1080" xlink:href="/static/assets/rocketsAll.png"></image> <a xlink:href="sslv">
        <rect x="109" y="356" fill="#fff" opacity="0" width="100" height="631"></rect>
      </a><a xlink:href="pslv">
        <rect x="359" y="198" fill="#fff" opacity="0" width="100" height="782"></rect>
      </a><a xlink:href="gslvmk2">
        <rect x="582" y="99" fill="#fff" opacity="0" width="185" height="886"></rect>
      </a><a xlink:href="gslvmk3">
        <rect x="886" y="185" fill="#fff" opacity="0" width="239" height="803"></rect>
      </a><a xlink:href="rlv">
        <rect x="1298" y="294" fill="#fff" opacity="0" width="150" height="693"></rect>
      </a><a xlink:href="hlv">
        <rect x="1606" y="23" fill="#fff" opacity="0" width="189" height="971"></rect>
      </a>
    </svg>
  </div>

</div>
{%endblock body %}