<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Single mission template</title>
</head>

<body>
    <div class="container" id="MissionPage">
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 mr-md-4" id="MissionTitle">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/static/assets/pslv.jpg" alt="First slide" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/assets/pslv.jpg" alt="Second slide" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/static/assets/pslv.jpg" alt="Third slide" />
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
        <div class="row justify-content-center" id="MissionContent">
            <h2>Mars Orbiter Mission -Mangalyaan</h2>
            <p>
                The Mars Orbiter Mission, also called Mangalyaan, is a space probe
                orbiting Mars since 24 September 2014. It was launched on 5 November
                2013 by the Indian Space Research Organisation.
            </p>
            <p>
                MOM was launched aboard PSLV C-25, which was an XL variant of the
                PSLV, one of world's most reliable launch vehicles. The XL variant was
                earlier used to launch Chandrayaan (2008), GSAT-12 (2011) and RISAT-1
                (2012).
            </p>
            <div class="col col-md-3 mInfo missionRocket">
                <h5>Launch Vehicle</h5>
                <h6>Polar Satellite launch vehicle</h6>
                <h6>Liftoff Mass: 1140 KG</h6>
            </div>
            <div class="col col-md-3 mInfo missionCraft">
                <h5>Payload</h5>
                <h6>Chandrayaan 2 Orbiter + Vikram Lander + Pragyan Rover</h6>
            </div>
            <div class="col col-md-3 mInfo missionCraft">
                <h5>Mission Profile</h5>
                <h6>Feature under development</h6>
            </div>
        </div>

        <div class="container" id="MissionContent">
            <div class="row justify-content-center">
                <div class="row">
                    <h3>Mission Gallery</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 col-md-3" id="SingleImage">
                    <img src="/static/assets/GSLV-Mk-II.jpg" alt="" />
                </div>
                <div class="col-5 col-md-3" id="SingleImage">
                    <img src="/static/assets/GSLV-Mk-II.jpg" alt="" />
                </div>
                <div class="col-5 col-md-3" id="SingleImage">
                    <img src="/static/assets/GSLV-Mk-II.jpg" alt="" />
                </div>
            </div>
        </div>

        <div class="container" id="MissionContent">
            <div class="row justify-content-center">
                <h3>Useful Mission Links</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col col-md-3" id="LinkCard">
                    <h5>Mission Data</h5>
                    <a href="">
                        <h6>Go to ISRO site</h6>
                    </a>
                </div>
                <div class="col col-md-3" id="LinkCard">
                    <h5>Mission Data</h5>
                    <a href="">
                        <h6>Go to ISRO site</h6>
                    </a>
                </div>
                <div class="col col-md-3" id="LinkCard">
                    <h5>Mission Data</h5>
                    <a href="">
                        <h6>Go to ISRO site</h6>
                    </a>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>